/* CSS Document */
@charset "utf-8";
*{margin:0; padding:0px;}
body{font-size:14px;font-family:"微软雅黑";background:#E3E3E5 url(../images/bg.jpg)  50% top scroll no-repeat;color:#5d5d5d;}
a{text-decoration:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
li{list-style:none;}
img{display:block;border:0px;}
/*end*/
#header{width:1000px;margin:0 auto;}
#header h1{font-size:24px;color:#664666;padding:5px 0 5px 15px;font-weight:600;}
#header p{font-size:18px;color:#DB5E5E;font-weight:500;} 
#nav{width:1000px;margin:20px auto; }
#nav ul li{width:140px;height:30px;line-height:30px;float:left;text-align:center;margin:0px 2px 0px 0px;}
#nav ul li a{color:#506F70;font-size:16px;width:140px;height:30px;display:block;}
#nav ul li a:hover{display:block;width:140px;height:30px;background:#829696;border-radius:3px;color:#fff;}
#nava{display:block;color:#fff;width:140px;height:30px;background:#829696;border-radius:3px;}
/*header end*/
#content{width:1000px;margin:5px auto;}
#c_left{width:730px; background:#fff;border-radius:1px;}
#c_left .s_tuijian{width:710px;height:68px;margin-left:10px;background:url("../images/r_line.jpg") bottom left repeat-x;}
.s_tuijian h2{width:650px;height:37px;background:url("../images/tj.png") no-repeat;padding:20px 0px 5px 60px;
color:#D242DF;font-size:18px;margin-left:5px;}
.s_tuijian h2 span{color:#3798A5;padding-left:3px;}
/*文章*/
#c_left .content_text{width:730px;margin-top:5px;}
#c_left .content_text .wz{width:725px;margin:5px 0px 10px 0px;color:#1D1A1A;}
.wz h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.wz h3 a{color:#D3535D;}
.wz h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.wz dl{width:730px;margin-top:3px;}
.wz dl dt{float:left;width:204px;height:127px;margin-left:5px;display:block;border:1px solid #ccc;}
.wz dl dt img{padding:2px;}
.wz dl dd{float:left;width:505px;overflow:hidden;margin-left:5px;}
.wz dl dd .dd_text_1{height:80px;display:block;overflow:hidden;}
.wz dl dd .dd_text_2{line-height:30px;margin-top:10px;}
.wz dl dd .dd_text_2 span{padding-left:15px;}
.wz dl dd .dd_text_2 .author{display:block;width:60px;height:30px; 
background:url("../images/tx.jpg") 5px 7px no-repeat;padding-left:25px;margin-left:20px;}
.wz dl dd .dd_text_2 .sj{display:block;width:120px;height:30px;
background:url("../images/sj.jpg") 5px 7px no-repeat;padding-left:25px;}
.wz dl dd .dd_text_2 .fl{display:block;width:110px;heigt:30px;text-align:center;}
.wz dl dd .dd_text_2 .fl a{color:#1D1718;}
.wz dl dd .dd_text_2 .yd{display:block;width:110px;height:30px;text-align:center;margin-top:3px;}
.wz dl dd .dd_text_2 .yd a{color:#F55522;display:block;width:80px;height:22px;line-height:22px;
text-align:center;padddding:2px 5px;border:1px solid #AC9696;border-radius:2px;}
.wz dl dd .dd_text_2 .yd a:hover{color:#f36;}
/*left end*/
/*right*/
#c_right{width:260px;}
#c_right .s_about{width:260px;border:1px solid #ccc;background:#fff;}
#c_right .s_about h2{width:230px;margin:0 auto;font-size:16px;color:#333;padding:10px 0px 3px 10px;border-bottom:1px solid #555;}
#c_right .s_about img{margin:0 auto;margin-top:10px;}
#c_right .s_about p{padding-left:30px;}
#c_right .s_about p .b_1{display:block;width:93px;height:30px; background:url("../images/qq_bg.png") no-repeat;}
#c_right .s_about p .b_2{margin-left:20px;display:block;width:97px;height:25px; background:url("../images/qq_bg.png") -93px 0 no-repeat;}
/*随机、最新文章*/
#c_right .lanmubox{width:260px;height:180px;border:1px solid #ccc;margin-top:5px;background:#fff;}
.lanmubox .hd{width:260px;height:30px;border-bottom:1px solid #ddd;}
.lanmubox .hd ul li{float:left;width:85px;height:30px;line-height:30px;text-align:center; cursor:pointer; }
.lanmubox .hd .hd_3{width:88px;}
.lanmubox .hd ul li.on{height:30px;background:#fff;border:1px solid #ccc;border-bottom:2px solid #fff;border-top:1px solid #f00;}
.lanmubox .bd{width:260px;height:145px;zoom:1;background:url("../images/list.png") 5px 5px no-repeat;overflow:hidden;}
.lanmubox .bd ul li{width:230px;padding-left:25px;height:29px;line-height:29px;}
.lanmubox .bd ul li:hover{padding-left:35px;transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.lanmubox .bd ul li a{color:#444;font-size:14px;}
.lanmubox .bd ul li a:hover{color:#f00;}
/*link*/
#c_right .link{width:260px;height:180px;border:1px solid #ccc;margin-top:5px;background:#fff;}
.link h2{font-size:16px;color:#444;padding:5px 0px 2px 5px;border-bottom:1px solid red;}
.link p{padding:10px 0px 0px 15px;}
.link p a{color:#444;}
.link p a:hover{color:#f00;}
/*right end*/
/*content end*/
#footer{width:1000px;height:50px;margin:10px auto;border-top:1px solid #ccc;}
#footer p{text-align:center;font-size:14px;color:#231C25;}
#footer p a{color:#231C25;}
