/* CSS Document */
@charset "utf-8";
*{margin:0;padding:0;}
.con-bg{width:980px;background:#fff; margin:0 auto; overflow:hidden; padding-top:8px; padding-bottom:10px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/}
.w960{width:960px;margin:0 auto;overflow:hidden;}
.fl_lt{float:left !important;}
.mt_10{margin-top:10px;}
.w650{width:960px;}
.position{height:38px;line-height:38px;font-size:14px;color:#666;border-bottom:none;}
.position a{padding:0px 5px;color:#404040;}
.position a.home{background:url(../images/flower_ico.gif) no-repeat;padding-left:35px; display:inline-block;}
span.bds_more{line-height:16px !important;}
#bdshare span.bds_more{background:none !important;}
.w650{width:960px;padding-top:15px;}
.w650 ul.tips{float:left;margin-left:10px; display:inline; position:relative;}
.w650 li{ position:absolute;display:inline;padding-bottom:20px;}
.w650 li{width:220px;height:auto;text-align:center;overflow:hidden;}
.w650 li a{width:200px;height:auto;background:#fff;border:1px solid #ddd;padding:9px 9px 2px 9px;display:block;cursor:pointer;-webkit-border-radius:2px;
-o-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.w650 li a span{height:38px;line-height:38px;color:#333;overflow:hidden;display:block;font-size:14px;}
.w650 li a:hover span{color:#9c0f4a;}
.w650 li a:hover{background:#fff;border:1px solid #c5c5c5;color:#9c0f4a;}
.p_t{padding-top:7px;}