body {
    background-color: #C1DEE8;
}

p { margin: 20px 0 0; }

.container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    margin: 10% auto;
    padding: 30px;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 40px;
}

input[type=button] {
    width: 60%;
    height: 40px;
    border-radius: 20px;
}
